# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# CLion
.idea/**
cmake-build-*/**

# VS Code
.vscode/**
build/**

# KDE
.directory

